// Normalize
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// -------------------------------------
// Primary text
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// BG Gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Neutral-text
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// Divider Color
$light-grayish-blue: hsl(240, 5%, 91%);
// ---------------------------------------

html {
  font-size: 62.5%; // For this trick to work with rem, you need to add it to root element = html
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(to right, $soft-violet, $soft-blue);
  line-height: 1.5;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 12rem 0 3rem 0;
}

// Card
.faq-card {
  width: 90%;
  max-width: 375px;
  position: relative;

  background-color: #fff;
  color: $very-dark-desaturated-blue;

  padding: 2.2rem;
  padding-bottom: 5rem;
  border-radius: 2.5rem;
  box-shadow: 0 40px 30px -20px rgba(0, 0, 0, 0.2);

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 3.2rem;
    margin: 11rem 0 1rem 0;
  }
}

// Illustrations
.faq-illustration-wrapper {
  position: relative;
}

.faq-illustration {
  margin-top: -13.5rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-55%);
}

.faq-mobile-pattern {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

// FAQs
.faq-title-wrapper {
  color: $very-dark-desaturated-blue;
}

.faq {
  border-bottom: 1px solid $light-grayish-blue;

  h2 {
    font-weight: 400;
    font-size: 1.35rem;
    flex: 1;
  }
  p {
    display: none;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding: 1rem 1.5rem 1rem 0;
    margin-top: -1.7rem;
    margin-bottom: 0.3rem;

    color: $dark-grayish-blue;
  }

  // Toggled with JS
  .show-text {
    display: inline-block;
    transform: scaleY(1);
    opacity: 1;
  }
  .text-bold {
    font-weight: 700;
  }
  .arrow-up {
    transform: rotate(-180deg);
  }

  .faq-title-wrapper {
    padding: 1.7rem 0 1.3rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

// Hide this on mobile
.faq-illustration-desktop {
  display: none;
}
.fixed-wrapper {
  display: none;
}

// Hover states
.hover-color {
  color: $soft-red;
}

// Responsive
@media only screen and (min-width: 1020px) {
  .faq-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 900px;

    padding: 6rem 10rem 7rem 3rem;
    position: relative;

    overflow: hidden;

    // Background-pattern
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -59rem 60%;
  }

  // Hide mobile illustrations
  .faq-illustration-wrapper {
    display: none;
  }
  .faq-illustration-desktop {
    display: block;
  }

  // Show desktop illustrations
  .fixed-wrapper {
    display: block;
  }

  .fixed-wrapper {
    position: absolute;
    left: -9.3rem;
    top: 18rem;
    transition: 0.6s all cubic-bezier(0.75, 0.32, 0.25, 0.9);
  }

  .fixed {
    position: fixed;
  }

  .illustration-desktop {
    width: 50%;
    position: absolute;
    z-index: 0;
    left: -7rem;
    top: 5rem;
  }

  .pattern-desktop {
    width: 50%;
    position: absolute;
    z-index: 0;
    left: -7rem;
    top: 0rem;
    display: none;
  }

  .faq-list {
    width: 350px;

    h1 {
      margin-top: 0;
      text-align-last: left;
    }
  }

  .box-out {
    left: -13rem;
  }
}
